html {
  overflow: hidden;
}
#sidebar {
  overflow-x: hidden;
  overflow-y: auto;
}
#sidebar > div {
  width: 250px;
  font-size: 0.9rem;
}
#sidebar > div, #mainContent > div {
  padding: .75rem;
}
#sidebar aside .menu-list a {
  padding: .25em .25em;
}
#sidebar aside .menu-list ul {
  margin: .25em;
}
#mainContent .tabs {
  font-size: 0.9rem;
}
#mainContent textarea {
  resize: vertical;
  width: 100%;
  padding: 0.75rem;
}
#mainContainer {
  height: calc(100vh - 3.25rem);
  margin-bottom: 0px;
}